@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #CE2829;
  text-decoration: inherit;
}
a:hover {
  color: #CE2829;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: block; /* Flex değil, block düzeni kullan */
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 3px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 24px;
  font-weight: 400;
  font-family: inherit;
  background-color: #FFD84D;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 18px;
}
button:hover {
  border-color: #CE2829;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #CE2829;
  }
  button {
    background-color: #FFD84D;
  }
}
.headerTitle {
  font-family: "Londrina Solid", sans-serif;
  background-color: #CE2829; 
  padding: 20px;
  color: #fff;
  text-align: center;
  font-size: 24px;
  width: 100%;
  position: relative;  
  z-index: 10;  
}
.footerContainer {
  font-family: "Londrina Solid", sans-serif;
  background-color: #CE2829;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footerLinks ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.footerLinks li {
  font-size: 14px;
}

.footerDownload,
.footerSocial,
.footerDisclaimer {
  margin: 10px 0;
}

.footerSocial .socialIcons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socialIcon {
  font-size: 20px;
}

.footerDisclaimer p {
  font-size: 12px;
  margin: 5px 0;
}





